<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx!</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>
<body>
<h1>This is an edited verison of NGINX Welcome page</h1>
<p>this was done as a part of depi task</p>
<p>for more information don't ask as i wont be touching this project again :D</p>
<h3>Runs on port: {{nginx_port}}</h3>
</body>
</html>
